{% extends 'base.html.twig' %}

{% block content %}
    <h1>Client not found</h1>

    {% if name|default(false) %}
        <p>Client not found for name {{ name }}</p>
    {% elseif if|default(false) %}
        <p>Client not found for id {{ id }}</p>
    {% endif %}
{% endblock %}
